<footer class="site-footer">
  <div class="wrap">
    <span class="copy">&copy; {{ site.time | date: '%Y' }} {{ site.author }}. Math, quantified law.</span>
    <div class="socials">
      <a class="social" href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">github/{{ site.github_username }}</a>
      <a class="social" href="https://medium.com/@{{ site.medium_username }}" target="_blank" rel="noopener">medium/{{ site.medium_username }}</a>
    </div>
  </div>
</footer>
