@import "tailwindcss";

:root {

  --background: white;

  --text: #111111;

  --secondary: #666666;

}

body {

  background: var(--background);

  color: var(--text);

  font-family: var(--font-inter);

}

h1,h2,h3,h4{

font-family:var(--font-cormorant);

}

main{

max-width:900px;

margin:auto;

padding:80px 20px;

}

a{

transition:.2s;

}

a:hover{

opacity:.6;

}

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: 4rem;
}

::selection {
  background: #111;
  color: white;
}
